.todoList-container {
    // background-color: red;
    width: 400px;
    margin: 0 auto;
    .item {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid grey;
        .content {
            flex: 2;
            text-align: left;
            padding: 8px;
        }
        button {
            height: 40px;
        }
    }
}
